<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style2.css')}}">
    <title>Anti-Phish Game</title>
</head>
<body>
    <!--Main Content-->
    <div id="main-content">
        <!-- Navbar -->
         <div id="nav-container">
            <nav class="navbar">
                    <ul class="nav-links" id="nav-links">
                        <li><a href="{{ url_for('home')}}">Home</a></li>
                        <li><a href="#features">Why Play</a></li>
                        <li class="dropdown">
                            <a href="#contact">Contact</a>
                            <div class="dropdown-content">
                                <a href="https://github.com/ceasermikes002">CHIMA</a>
                                <a href="https://github.com/Siddami">SIDIQAT</a>
                                <a href="https://github.com/Nigeriaboy">ABDULLAH</a>
                                <a href="https://github.com/virus-200">DARA</a>
                            </div>
                        </li>
                    </ul>
            </nav>
        </div>

        <!-- scoring section -->
        <div id="scoring-container">
            <div id="score">
                <span id="correct"> Correct: 0 </span><br>
                <span id="incorrect">Incorrect: 0 </span>
            </div>
            <div class="game_box">
                <h1 style="text-align: center;">Anti-Phish Game</h1>
                <div class="image" id="image"></div>
                <div class="scenario" id="scenario"></div>
                <div class="buttons">
                <button id="phishBtn">Phish</button>
                <button id="legitBtn">Legit</button>
                </div>
                <p id="feedback"></p>
                <p id="stat-of-email"></p>
                <p id="explanation"></p>
            </div>

            <!-- Button to show the next email scenario-->
            <div id="next">
                <button class="next-button">Next &#8594</button>
            </div>
        </div>


        <script src="static/scenario.js"></script>
        <script src="static/app.js"></script>

</body>
</html>